@media only screen and (max-width: 1180px) {
  .header {
    margin-left: 0px;
  }
  .header .menu-right {
    width: 100%;
    justify-content: space-between;
  }
  nav .admin-info .menu-mobile,
  .header .menu-mobile,
  .header .menu-search {
    display: block;
  }
  .header .menu-left .menu-search {
    display: flex;
  }
  .header .menu-right .user-info span {
    display: none;
  }
  .header .menu-right .user-info {
    margin-left: 0;
    padding-left: 15px;
  }
  .header .menu-left {
    display: none;
  }
  nav > div {
    display: none;
  }
  input:checked ~ nav > div {
    display: block;
    overflow-y: auto;
  }
  input:checked ~ .menu-left {
    display: block;
    position: absolute;
    z-index: 5;
    margin-left: 8px;
  }
  main,
  footer {
    margin-left: 0px;
    margin: 0;
    display: block;
  }
  .dashboard-card-statistics {
  }
  main .dashboard-card-statistics .card {
    width: 47%;
    margin: 8px;
  }

  .dashboard-box {
    /* justify-content: space-between; */
    margin: 0;
  }
  .dashboard-box,
  .dashboard-box {
    display: block;
  }

  .dashboard-box .box {
    width: 100%;
    margin: 15px 0;
  }
}

@media only screen and (max-width: 600px) {
  .header {
    margin-left: 0px;
  }
  .header .menu-right {
    width: 100%;
    justify-content: space-between;
  }

  .header .menu-left {
    display: none;
  }
  .header .menu-left .menu-search {
    display: flex;
  }
  .header .menu-right .user-info span {
    display: none;
  }
  .header .menu-right .user-info {
    margin-left: 0;
    padding-left: 15px;
  }
  nav .admin-info .menu-mobile,
  .header .menu-mobile,
  .header .menu-search {
    display: block;
  }
  nav > div {
    display: none;
  }
  input:checked ~ nav > div {
    display: block;
    overflow-y: auto;
  }
  main,
  footer {
    margin-left: 0px;
    margin: 0;
    display: block;
  }
  main .dashboard-top {
    flex-direction: column;
    margin: 15px 0;
  }
  .dashboard-card-statistics {
  }
  main .dashboard-card-statistics .card {
    width: 100%;
    margin: 15px 0;
  }

  .dashboard-box {
    /* justify-content: space-between; */
    margin: 0;
  }
  .dashboard-box,
  .dashboard-box {
    display: block;
  }

  .dashboard-box .box {
    width: 100%;
    margin: 15px 0;
  }
  .box-header h3 {
    font-size: 15px;
  }
  .box-body p,
  footer article p {
    font-size: 14px;
  }

}
