@font-face {
  font-family: "Heebo";
  src: url("/assets/font/Heebo-Light.ttf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: Heebo;
}
:root {
  --primary-color: #4e73df;
  --color1: #1cc88a;
  --color2: #36b9cc;
  --color3: #f6c23e;
  --color4: #e74a3b;
  --color5: #858796;
  --color6: #f8f9fc;
  --color7: #5a5c69;
  --color8: #181818;
  --color9: #ffff;
  --color10: #d1d2e2;
}
body {
  background-color: #edeef2;
}
/* start header */
.header {
  background: var(--color9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  margin-left: 250px;
  padding: 0 25px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.header .menu-right {
  display: flex;
}
.header .menu-left {
  width: 35%;
  display: flex;
}
.header .menu-search {
  margin-left: 8px;
  display: none;
  color: var(--color10);
}
.header .menu-mobile {
  display: none;
  color: var(--primary-color);
  padding: 5px;
  cursor: pointer;
}
.header .menu-search i {
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
}
.header .menu-mobile i {
  font-size: 35px;
  font-weight: bold;
}

.header .menu-left form {
  display: flex;
  align-items: center;
  border-radius: 4px;
  width: 100%;
}
.header .menu-left form input {
  outline: none;
  border: none;
  width: 100%;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background: var(--color6);
  color: var(--color8);
  font-weight: 700;
  height: 40px;
  padding: 0 10px;
}
.header .menu-left {
  position: relative;
}
.header .menu-left form button {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  color: var(--color6);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  width: 50px;
  height: 40px;
  cursor: pointer;
}
.header .menu-left .menu-search {
  display: none;
  padding: 5px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: -20px;
  transform: translate(-50%);
  background-color: var(--primary-color);
  color: var(--color6);
  border-radius: 4px;
  height: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
}
.header .menu-left .menu-search i {
  font-size: 20px;
  color: var(--color9);
}

.header .menu-right .user-info,
.header .menu-right ul,
.header .menu-right .user-info i {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header .menu-right ul {
  margin: 0 10px;
}
.header .menu-right ul li {
  margin-left: 25px;
}
.header .menu-right .user-info {
  border-left: 1px solid var(--color10);
  margin-left: 15px;
}
.header .menu-right .user-info i {
  font-size: 40px;
  width: 50px;
  height: 50px;
  background-color: var(--color7);
  border-radius: 9999px;
  color: var(--color6);
}
.header .menu-right .user-info span {
  color: var(--color7);
  font-weight: 600;
  font-size: 14px;
  margin-right: 10px;
  margin-left: 25px;
}
.header .notif,
.header .message {
  position: relative;
  color: var(--color10);
  cursor: pointer;
}
.header .nm {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 5px 9px;
  border-radius: 4px;
  top: -1px;
  right: -9px;
  width: 15px;
  height: 15px;
  font-size: 10px;
  font-weight: 700;
  background-color: var(--color4);
  color: var(--color9);
}
/* end header */

/* start sidbar */
nav {
  position: relative;
}
nav > div {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(var(--primary-color), #2249be);
  height: 100%;
  z-index: 5;
}
nav .admin-info {
  position: relative;
}
nav .admin-info .menu-mobile {
  display: none;
  padding: 5px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}
nav .admin-info .menu-mobile i {
  font-size: 30px;
  color: var(--color9);
}
nav .admin-info a {
  display: flex;
  align-items: center;
  padding: 15px 10px;
  color: var(--color9);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin: 0 7px;
}
nav .admin-info a i {
  font-size: 40px;
  transform: rotate(330deg);
}
nav .admin-info h3 {
  font-size: 16px;
  margin-left: 10px;
}

nav .sidbar {
  margin: 0 7px;
}
nav .sidbar li {
  padding: 19px 10px;
  padding-right: 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
nav .sidbar li.nomenu {
  color: rgba(255, 255, 255, 0.4);
  font-weight: bold;
  font-size: 14px;
}
nav .sidbar li a {
  display: flex;
  align-items: center;
  color: var(--color6);
  position: relative;
}
nav .sidbar li a .arrow-right {
  position: absolute;
  right: 0;
  font-weight: bold;
}
nav .sidbar li a i {
  margin-right: 8px;
  color: rgba(255, 255, 255, 0.4);
}
nav .sidbar li a.active,
nav .sidbar li a:hover {
  color: var(--color9);
  font-weight: bold;
}
nav #sidbar-toggle-arrow {
  position: relative;
  padding: 30px;
  margin: 10px 0;
}
nav #sidbar-toggle-arrow i {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 700;
  font-size: 20px;
  width: 45px;
  height: 45px;
  background-color: var(--primary-color);
  border-radius: 9999px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
nav #sidbar-toggle-arrow i:hover {
  background: var(--color8);
  border: 1px solid var(--color9);
}
nav .sidebar-banner {
  padding: 19px 10px;
  margin: 0 7px;
  background-color: rgba(13, 34, 99, 0.24);
  border-radius: 7px;
  text-align: center;
  position: relative;
}
nav .sidebar-banner i {
  display: block;
  font-size: 60px;
  color: rgba(255, 255, 255, 0.8);
}
nav .sidebar-banner p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 15px;
  margin: 14px 0;
}
nav .sidebar-banner p span {
  color: rgba(255, 255, 255, 0.7);
}
nav .sidebar-banner a {
  background-color: var(--color1);
  color: var(--color9);
  padding: 7px 14px;
  border-radius: 4px;
  cursor: pointer;
}
nav .sidebar-banner a:hover {
  border: 1px solid var(--color9);
  background-color: var(--color1);
}
/* end sidbar */

/*  start main */
main {
  padding: 0 25px;
  margin-left: 250px;
  display: block;
}
main .dashboard-top a,
main .dashboard-top,
main .dashboard-card-statistics,
main .dashboard-card-statistics .card {
  display: flex;
  align-items: center;
}
main .dashboard-top {
  justify-content: space-between;
  margin: 40px 15px;
}
main .dashboard-top h2 {
  font-size: 30px;
  color: rgba(0, 0, 0, 0.65);
}
main .dashboard-top a {
  background: var(--primary-color);
  color: var(--color9);
  border-radius: 4px;
  padding: 6px 10px;
}
main .dashboard-top a i {
  color: rgba(209, 210, 226, 0.685);
  margin-right: 5px;
}
main .dashboard-top a:hover {
  border: 1px solid var(--primary-color);
  background-color: var(--color9);
  color: var(--primary-color);
}
main .dashboard-top a:hover i {
  color: var(--primary-color);
}
main .dashboard-card-statistics {
  justify-content: center;
  flex-wrap: wrap;
}
main .dashboard-card-statistics .card {
  border-radius: 8px;
  position: relative;
  padding: 30px;
  width: calc((100% - (30px * 4)) / 4);
  margin: 0 15px;
  background-color: var(--color10);
  justify-content: space-between;
  background-color: var(--color9);
  box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
}
main .dashboard-card-statistics .card .card-title {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}
main .dashboard-card-statistics .card .card-number {
  font-size: 25px;
  font-weight: bold;
  color: var(--color7);
}
main .dashboard-card-statistics .card i {
  font-size: 40px;
  color: var(--color10);
}
.card::after {
  content: "";
  position: absolute;
  left: 0px;
  width: 8px;
  height: 100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.card-img {
  text-align: center;
  padding: 10px 61px;
}
.card-img img {
  width: 80%;
}
.card1::after {
  background-color: var(--primary-color);
}
.card2::after {
  background-color: var(--color1);
}
.card3::after {
  background-color: var(--color2);
}
.card4::after {
  background-color: var(--color3);
}
.text-color1 {
  color: var(--primary-color);
}
.text-color2 {
  color: var(--color1);
}
.text-color3 {
  color: var(--color2);
}
.text-color4 {
  color: var(--color3);
}

.text-progress-color3 {
  width: 50%;
  height: 10px;
  background-color: var(--color10);
  border: none;
  border-radius: 15px;
}
.text-progress-color3 div {
  width: 50%;
  height: 10px;
  border: none;
  background: #36b9cc;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

/*  start dashboard-chart */
.dashboard-box,
.dashboard-box .box-header {
  display: flex;
}
.dashboard-box {
  /* justify-content: space-between; */
  margin: 40px 15px;
}
.dashboard-box .box-header {
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: #f8f9fd;
  padding: 5px 18px;
  color: var(--primary-color);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.dashboard-box .box-header i {
  color: var(--color5);
  cursor: pointer;
}
.dashboard-box .box-header h3 {
  font-size: 15px;
}

.dashboard-box .chart1 {
  width: 60%;
  background: var(--color9);
  margin-right: 35px;
  box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
}
.dashboard-box .chart2 {
  width: 40%;
  background: var(--color9);
  box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
}
.box {
  width: 100%;
  border-radius: 8px;
}
.box:nth-child(1) {
  margin-right: 35px;
}

.box-colonn {
  display: block;
}
.box-body p {
  padding: 25px 18px;
  font-size: 17px;
  font-weight: 600;
  color: var(--color5);
}
.box-body a {
  margin: 15px 0;
  color: var(--primary-color);
  display: block;
}
.box-body .canvas {
  width: 100%;
  height: 100%;
  position: relative;
}

.box-colonn .row50 {
  margin: 25px 0;
  background: var(--color9);
  box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
  border-radius: 8px;
}

/*  end dashboard-chart */

/*  start list-colors */
.list-colors {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px 25px;
}
.list-colors div {
  width: calc((100% - (20px * 2)) / 2);
  padding: 14px;
  margin: 10px;
  background: #000;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  color: var(--color9);
  box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
}
.list-colors div span {
  margin-left: 14px;
  font-weight: 700;
}
.list-colors div p {
  margin-left: 14px;
}

.list-colors .color1 {
  background-color: var(--primary-color);
}
.list-colors .color2 {
  background-color: var(--color1);
}
.list-colors .color3 {
  background-color: var(--color2);
}
.list-colors .color4 {
  background-color: var(--color3);
}
.list-colors .color5 {
  background-color: var(--color4);
}
.list-colors .color6 {
  background-color: var(--color5);
}
.list-colors .color7 {
  background-color: var(--color6);
  color: var(--color8);
}
.list-colors .color8 {
  background-color: var(--color7);
}
/*  end list-colors */

/* start list-progress */
.list-progress {
  padding: 18px;
}
.list-progress .progress-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.list-progress .progress-header span:nth-child(1) {
  font-weight: 700;
  font-size: 14px;
  color: var(--color7);
}
.list-progress .progress-header span:nth-child(2) {
  font-weight: 700;
  font-size: 10px;
  color: var(--color8);
}
.list-progress .card-progress {
  width: 100%;
  height: 18px;
  background-color: var(--color10);
  border: none;
  border-radius: 15px;
}
.list-progress .card-progress div {
  height: 18px;
  border: none;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.list-progress .card-progress div.size20 {
  width: 20%;
  background: var(--color4);
}
.list-progress .card-progress div.size40 {
  width: 40%;
  background: var(--color3);
}
.list-progress .card-progress div.size60 {
  width: 60%;
  background: var(--primary-color);
}
.list-progress .card-progress div.size80 {
  width: 80%;
  background: var(--color2);
}
.list-progress .card-progress div.size100 {
  width: 100%;
  background: var(--color1);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
/* end list-progress */

/*  end main */

/*  start footer */
footer {
  padding: 0 25px;
  margin: 0px 15px;
  margin-left: 250px;
  background-color: var(--color9);
  position: relative;
}
footer article {
  position: relative;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
footer article p {
  color: var(--color5);
  font-weight: 600;
  font-size: 16px;
  text-align: center;
}
/*  end footer */

.scroll-back-top {
  all: unset;
  padding: 5px 8px;
  font-size: 16px;
  background-color: rgba(46, 55, 62, 0.404);
  color: var(--color9);
  border-radius: 5px;
  position: absolute;
  right: 0px;
  display: flex;
  cursor: pointer;
}
.scroll-back-top:hover {
  background-color: var(--primary-color);
}
